*{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.person-container {
  border: 1px solid;
  padding: 10px;
  margin: 10px;
}

.person-container.instructor {
  border-color: blue;
}

.person-container.student {
  border-color: red;
}

button.active {
  border: 2px solid green;
}